<div class="input-box">
    <input
        class="input icon-{{ icon }}"
        {{#if type }}type="{{ type }}"{{/if}}
        {{#if id }}id="{{ id }}"{{/if}}
        {{#if name }}name="{{ name }}"{{/if}}
        {{#if value }}value="{{ value }}"{{/if}}
        {{#if readonly }}readonly{{/if}}
        placeholder=" "
    />
    <label
        class="label"
        {{#if id }}for="{{ id }}"{{/if}}
    >{{ label }}</label>
</div>